@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chào mừng tới Đm Quyết Tiến</h1>
    
</div>
<div class="jumbotron">
    <img src="@Url.Content("~/Content/1.jpg")" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            huhuhuhuhuhuhuhuhuhuhuhuhuhuhuhuhuhu .
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>hoc cc gi a hoc cc gi a hoc cc gi a hoc cc gi a hoc cc gi a hoc cc gi a hoc cc gi a hoc cc gi a .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>how to qua mon how to qua mon how to qua mon how to qua mon how to qua mon how to qua mon .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>